footer {
  height: var(--footer-h);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-gray);
  color: var(--text-negative);
  font-size: 0.8rem;
  margin-top: auto;
}

/* Layout Desktop */
@media (min-width: 769px) {
  footer {
    display: flex;
  }
}
