.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: var(--icon-touch-size);
  height: var(--icon-touch-size);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background: var(--text-negative);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger--active span:first-child {
  transform: rotate(45deg);
}

.hamburger--active span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger--active span:nth-child(3) {
  transform: rotate(-45deg);
}
