/* Hamburger */
#hamburger {
  width: var(--icon-touch-size);
  height: 4px;
  background: var(--text-negative);
  position: relative;
  transition: all 0.3s ease-in-out;

  &::after,
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateY(calc(var(--icon-touch-size) * -0.3));
    background: var(--text-negative);
    transition: all 0.3s ease-in-out;
  }

  &::after {
    transform: translateY(calc(var(--icon-touch-size) * 0.3));
  }

  &[data-toggle="true"] {
    background: transparent;
    rotate: -180deg;

    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}
